# Set all files to use LF for line endings
* text eol=lf

# Exclude dev files from Packagist, Composer, and git archives for leaner installs.
.gitattributes   export-ignore
.gitignore       export-ignore
phpunit.xml.dist export-ignore
tests            export-ignore
