<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">

  <testsuites>
    <testsuite name="ZenDB Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>

  <php>
    <env name="DB_HOSTNAME" value="127.0.0.1"/>
    <env name="DB_USERNAME" value="root"/>
    <env name="DB_PASSWORD" value=""/>
    <env name="DB_DATABASE" value="phpunit_test_db"/>
  </php>
</phpunit>
